*/__pycache__/
*.pyc
output*
temp*
config*.json
.venv
.DS_Store

# Sphinx documentation build artifacts
docs/build/
docs/_build/
docs/locale/.doctrees/

# MkDocs documentation build artifacts
tutorial_docs/site/